body {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #1e1e1e;
  color: #e0e0e0;
}

.contributions-container {
  background-color: #2d2d2d;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#usernameInput {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #58a6ff;
  border-radius: 4px 0 0 4px;
  background-color: #1e1e1e;
  color: #e0e0e0;
}

#fetchButton {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #58a6ff;
  color: #ffffff;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #58a6ff;
}

/* Add this to your existing CSS */
#profileLink {
  margin-left: 10px;
  color: #58a6ff;
  text-decoration: none;
}

#profileLink:hover {
  color: #1f6feb;
}

.contributions-grid {
  display: grid;
  grid-template-columns: repeat(52, 12px);
  grid-gap: 3px;
  margin: 0 auto;
}

.grid-item {
  width: 12px;
  height: 12px;
  background-color: #161b22;
  border-radius: 2px;
}

.level-1 {
  background-color: #0e4429;
}
.level-2 {
  background-color: #006d32;
}
.level-3 {
  background-color: #26a641;
}
.level-4 {
  background-color: #39d353;
}
